.sun {
    width: 100px !important;
    height: 100px !important;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    margin: 25px;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;

    .glimmer {
        width: 100px;
        height: 100px;
        position: absolute;
        border: 0.1px solid yellow;
        border-radius: 50%;
        visibility: hidden;
    }
}
